---
import styles from "~/styles/components/PageIndex.module.scss";
import Layout from "~/components/Layout.astro";
---

<Layout title="About">
  <div class={styles.page}>
    <div class={styles.inner}>
      <div class={styles.kv}>
        <p class={styles.copy}>About Page</p>
      </div>
      <p class={styles.desc}>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure et
        consectetur labore. Consectetur nostrum aperiam quia recusandae. Vitae
        eum in accusantium officia dolore dolorem quaerat delectus, perferendis
        tempore ad ducimus.
      </p>
    </div>
  </div>
</Layout>
